#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 5em;
  padding: 1.5em;
  border-radius: 50%;
}

.skils-unordered-list {
  list-style-type: none;
  padding-left: 0;
}

.footer {
  margin: 5em;
  text-align: center;
}